<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <queries>
        <package android:name="com.syu.ms" />
        <package android:name="com.syu.music" />
        <package android:name="com.syu.ss" />
        <intent>
            <action android:name="android.speech.action.RECOGNIZE_SPEECH" />
        </intent>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".playback.MediaKeyDiagnosticsActivity"
            android:exported="false"
            android:label="Metrolist Media-Key-Diagnose"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Metrolist" />

        <receiver
            android:name="androidx.media3.session.MediaButtonReceiver"
            tools:node="remove" />

        <receiver
            android:name=".playback.Dudu7MediaButtonReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
